<div class="panel panel-default">
<h1>Profile</h1>

<% @profiles.each do |profile| %>

<table>
  <thead>
    <tr>
      <th colspan="3">Job </th>
      <th colspan="3">Hobbies</th>
      <th colspan="3">Skills</th>
      <th colspan="3">Food</th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
</div>
