<div class="jumbotron">
 
    <p id="notice"><%= notice %></p>
  

<%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-primary" %> 
<%= link_to 'View Profile', profiles_path, class: "btn btn-warning"%>
</div>
